## 输出

In [1]:
print('hello, world')

hello, world

In [2]:
print('The quick brown fox', 'jumps over', 'the lazy dog')

The quick brown fox jumps over the lazy dog

In [3]:
print('100 + 200 =', 100 + 200)

100 + 200 = 300

## 输入

In [5]:
 name = input()

Michael

In [6]:
name

'Michael'

`input()`可以让你显示一个字符串来提示用户，于是我们把代码改成：

In [7]:
name = input('please enter your name: ')
print('hello', name)

please enter your name: Michael
hello Michael

## 字符串
字符串是以单引号`'`或双引号`"`括起来的任意文本，比如'abc'，"xyz"等等。请注意，''或""本身只是一种表示方式，不是字符串的一部分，因此，字符串'abc'只有a，b，c这3个字符。如果'本身也是一个字符，那就可以用""括起来，比如"I'm OK"包含的字符是I，'，m，空格，O，K这6个字符。

## 布尔值
布尔值和布尔代数的表示完全一致，一个布尔值只有`True`、`False`两种值，要么是`True`，要么是`False`  
布尔值可以用`and`、`or`和`not`运算。

In [9]:
True and True

True

In [10]:
5 > 3 or 1 > 3

True

In [11]:
not 1 > 2

True

# list
list是一种有序的集合，可以随时添加和删除其中的元素。  
比如，列出班里所有同学的名字，就可以用一个list表示：

In [31]:
classmates = ['Michael', 'Bob', 'Tracy']
print(classmates)

['Michael', 'Bob', 'Tracy']

变量`classmates`就是一个list。用`len()`函数可以获得list元素的个数：

In [32]:
len(classmates)

3

用索引来访问list中每一个位置的元素，记得索引是从0开始的：

In [33]:
classmates[0]

'Michael'

In [34]:
classmates[1]

'Bob'

In [35]:
classmates[2]

'Tracy'

In [36]:
classmates[3]

IndexError: list index out of range

当索引超出了范围时，Python会报一个`IndexError`错误，所以，要确保索引不要越界，记得最后一个元素的索引是`len(classmates) - 1`。
如果要取最后一个元素，除了计算索引位置外，还可以用`-1`做索引，直接获取最后一个元素：

In [37]:
classmates[-1]

'Tracy'

`list`是一个可变的有序表，所以，可以往`list`中追加元素到末尾：

In [38]:
classmates.append('Adam')
classmates

['Michael', 'Bob', 'Tracy', 'Adam']

也可以把元素插入到指定的位置，比如索引号为`1`的位置：

In [39]:
classmates.insert(1, "Jack")
classmates

['Michael', 'Jack', 'Bob', 'Tracy', 'Adam']

要删除list末尾的元素，用`pop()`方法：

In [40]:
classmates.pop()

'Adam'

In [41]:
classmates

['Michael', 'Jack', 'Bob', 'Tracy']

要删除指定位置的元素，用`pop(i)`方法，其中`i`是索引位置：

In [42]:
classmates.pop(1)

'Jack'

In [43]:
classmates

['Michael', 'Bob', 'Tracy']

要把某个元素替换成别的元素，可以直接赋值给对应的索引位置：

In [44]:
classmates[1] = 'Sarah'
classmates

['Michael', 'Sarah', 'Tracy']

list里面的元素的数据类型也可以不同，比如：

In [45]:
L = ['Apple', 123, True]

list元素也可以是另一个list，比如：

In [46]:
s = ['python', 'java', ['asp', 'php'], 'scheme']
len(s)

4

In [47]:
s[1]

'java'

In [48]:
s[2][0]

'asp'

In [49]:
s[2][1]

'php'

# tuple
另一种有序列表叫元组：tuple。tuple和list非常类似，但是tuple一旦初始化就不能修改，比如同样是列出同学的名字：

In [51]:
classmates = ('Michael', 'Bob', 'Tracy')
classmates

('Michael', 'Bob', 'Tracy')

现在，classmates这个tuple不能变了，它也没有append()，insert()这样的方法。其他获取元素的方法和list是一样的，你可以正常地使用classmates[0]，classmates[-1]，但不能赋值成另外的元素。

不可变的tuple有什么意义？因为tuple不可变，所以代码更安全。如果可能，能用tuple代替list就尽量用tuple。

只有1个元素的tuple定义时必须加一个逗号,，来消除歧义：

In [52]:
t = (1,)
t

(1,)

最后来看一个“可变的”tuple：

In [53]:
t = ('a', 'b', ['A', 'B'])
t[2][0] = 'X'
t[2][1] = 'Y'
t

('a', 'b', ['X', 'Y'])

## 条件判断

In [1]:
age = 3
if age >= 18:
    print('adult')
elif age >= 6:
    print('teenager')
else:
    print('kid')

kid

## 循环
Python的循环有两种，一种是`for...in`循环。

In [2]:
names = ['Michael', 'Bob', 'Tracy']
for name in names:
    print(name)

Michael
Bob
Tracy

In [3]:
sum = 0
for x in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]:
    sum += x
print(sum)

55

Python提供一个`range()`函数，可以生成一个整数序列, `range(101)`就可以生成0-100的整数序列.

In [7]:
sum = 0
for x in range(11):
    sum += x
print(sum)

55

# dict
Python内置了字典：dict的支持，dict全称dictionary，在其他语言中也称为map，使用键-值（key-value）存储，具有极快的查找速度。

In [8]:
d = {'Michael': 95, 'Bob': 75, 'Tracy': 85}
d['Bob']

75

把数据放入dict的方法，除了初始化时指定外，还可以通过key放入：

In [9]:
d['Adam'] = 67
print(d['Adam'])

67

由于一个key只能对应一个value，所以，多次对一个key放入value，后面的值会把前面的值冲掉：

In [11]:
d['Adam'] = 89
print(d['Adam'])

89

如果key不存在，dict就会报错：

In [12]:
d['Thomas']

KeyError: 'Thomas'

要避免key不存在的错误，有两种办法，一是通过in判断key是否存在：

In [13]:
'Thomas' in d

False

二是通过dict提供的`get()`方法，如果key不存在，可以返回`None`，或者自己指定的value：

In [14]:
d.get('Thomas')
d.get('Thomas', -1)

-1

注意：返回`None`的时候Python的交互环境不显示结果。

要删除一个key，用`pop(key)`方法，对应的value也会从dict中删除：

In [15]:
d.pop('Bob')

75

In [16]:
d

{'Adam': 89, 'Michael': 95, 'Tracy': 85}

请务必注意，dict内部存放的顺序和key放入的顺序是没有关系的。

# set
set和dict类似，也是一组key的集合，但不存储value。由于key不能重复，所以，在set中，没有重复的key。

要创建一个set，需要提供一个list作为输入集合：

In [18]:
s = set([1, 2, 3])
s

{1, 2, 3}

重复元素在set中自动被过滤：

In [19]:
s = set([1, 1, 2, 2, 3, 3])
s

{1, 2, 3}

通过`add(key)`方法可以添加元素到set中，可以重复添加，但不会有效果：

In [20]:
s.add(4)
s

{1, 2, 3, 4}

通过`remove(key)`方法可以删除元素：

In [21]:
s.remove(4)
s

{1, 2, 3}

set可以看成数学意义上的无序和无重复元素的集合，因此，两个set可以做数学意义上的交集、并集等操作：

In [22]:
s1 = set([1, 2, 3])
s2 = set([2, 3, 4])
s1 & s2

{2, 3}

In [23]:
s1 | s2

{1, 2, 3, 4}

## 再议不可变对象
str是不变对象，而list是可变对象。

对于可变对象，比如list，对list进行操作，list内部的内容是会变化的，比如：

In [24]:
a = ['a', 'c', 'b']
a.sort()
a

['a', 'b', 'c']

而对于不可变对象，比如str，对str进行操作呢：

In [27]:
a = 'abc'
a.replace('a', 'A');
a

'abc'

In [28]:
a = 'abc'
b = a.replace('a', 'A');
print(a)
print(b)

abc
Abc

要始终牢记的是，`a`是变量，而'abc'才是字符串对象！有些时候，我们经常说，对象a的内容是'abc'，但其实是指，a本身是一个变量，它指向的对象的内容才是'abc'。当我们调用a.replace('a', 'A')时，实际上调用方法replace是作用在字符串对象'abc'上的，而这个方法虽然名字叫replace，但却没有改变字符串'abc'的内容。相反，replace方法创建了一个新字符串'Abc'并返回，如果我们用变量b指向该新字符串，就容易理解了，变量a仍指向原有的字符串'abc'，但变量b却指向新字符串'Abc'了：